[submodule "Lihang/Lihang"]
	path = Lihang/Lihang
	url = https://github.com/SmirkCao/Lihang.git
[submodule "Lihang/Statistical-Learning-Method_Code"]
	path = Lihang/Statistical-Learning-Method_Code
	url = https://github.com/Dod-o/Statistical-Learning-Method_Code.git

[submodule "deep-learning-with-python-notebooks"]
	path = deep-learning-with-python-notebooks
	url = https://github.com/fchollet/deep-learning-with-python-notebooks
